h1 {
    font-size: 36px;
    /* margin-left: 20px; */
    text-align: center;
}
.song-info {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lyrics-table {
    /* border: 2px solid red; */
    display: flex;
    justify-content: right;
}

.album-cover {
    display: table;
}

.album-cover-image {
    height: 250px;
    width: 250px;
}

.album-cover-caption {
    display: table-caption;
    caption-side: bottom;
}

table {
    border-spacing: 15px;
    width: 90%;
    font-size: 18px;
    /* border: 2px solid red; */
}

th {
    font-size: 22px;
}