h1 {
    font-size: 36px;
    /* margin-left: 20px; */
    text-align: center;
}
.song-info {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

.lyrics-table {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

table {
    border-spacing: 15px;
    width: 75%;
    font-size: 18px;
    /* border: 2px solid red; */
}

th {
    font-size: 22px;
    height: 28px;
    /* border: 2px solid red; */
}