body {
    font-family: "Noto Sans", "Segoe UI", Arial, sans-serif;
}

:lang(ja-jp) {
    font-family: "Noto Sans JP", "Yu Gothic", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.3;
    /* font-optical-sizing: auto; */
    /* font-style: normal; */ 
}

h1 {
    font-size: 36px;
    /* margin-left: 20px; */
    text-align: center;
}
.song-info {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-info-para {
    font-size: 18px;
}

/* .lyrics-table { margin percentages work better than the flexbox approach for now
    border: 2px solid red; 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
} */

.album-cover {
    display: table;
}

.album-cover-image {
    height: 280px;
    width: 400px;
}

.album-cover-caption {
    display: table-caption;
    caption-side: bottom;
    font-size: 18px;
	text-align: center;
}

.embed {
    display: flex;
    justify-content: center;
}

.tl-notes, .footnote {
    /* margin: 50px; */
    display: flex;
    justify-content: center;
}

.footnote {
	margin-top: 20px;
}

.tl-notes h2 {
    text-align: center;
    font-size: 28px;
}

.tl-notes p {
    text-indent: 3em;
    max-inline-size: 100ch;
    font-size: 18px;
}

.footnote li  { 
    max-inline-size: 100ch;
    font-size: 18px;
}

.footnote li + li { 
	margin-top: 15px;
}

table {
    border-spacing: 10px;
    width: 80%;
    margin-left: 15%;
    margin-right: 85%;
    /* font-size: 18px; */
    /* border: 2px solid red; */
}

th {
    font-size: 22px;
    /* height: 28px; */
    /* border: 2px solid red; */
}

td {
    font-size: 18px;
}

.video-title {
    text-align: center;
}

a.footnote-ref {
	text-decoration: none;
}
